<div class="row">
    <% invoices.forEach(function(invoice) { %>
        <a href="/card-process?invoice=<%= invoice.fileName %>&invoiceType=error_invoices&id=<%= invoice.id %>" class="card mt-5 mr-3 col-2">
            <% var ext = (/[.]/.exec(invoice.fileName)) ? /[^.]+$/.exec(invoice.fileName) : undefined; %>
            <% if(ext && ext[0].toUpperCase() === 'PDF') { %>
                <img src="images/pdf.svg" alt="invoice">
            <% } else { %>
                <img src="error_invoices/<%= invoice.fileName %>" alt="invoice">
            <% } %>
            <p class="card-text"><%= invoice.fileName %></p>
        </a>
    <% }); %>
</div>