<div class="row text-center">
    <a href="/card-list-unprocessed" class="card text-white bg-primary mt-5 mb-3 col-2">
        <div class="card-body">
            <h5 class="card-title">Unprocessed (<%= unprocessedCount %>)</h5>
            <p class="card-text">Unprocessed data description here</p>
        </div>
    </a>
    <a href="/card-list-processed" class="card text-white bg-success mt-5 mb-3 ml-3 col-2">
        <div class="card-body">
            <h5 class="card-title">Processed (<%= processedCount %>)</h5>
            <p class="card-text">Processed data description here</p>
        </div>
    </a>
    <a href="/card-list-error" class="card text-white bg-danger mt-5 mb-3 ml-3 col-2">
        <div class="card-body">
            <h5 class="card-title">Error (<%= errorCount %>)</h5>
            <p class="card-text">Error data description here</p>
        </div>
    </a>
</div>