<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Automated Invoice Management</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <script src="https://cdn.rawgit.com/naptha/tesseract.js/0.2.0/dist/tesseract.js"></script>
    <style>
        .card {
            padding: 0.5rem;
        }
        .card img {
            width: 100%;
        }
        .card .card-text {
            font-size: 100%;
            text-align: center;
        }
    </style>
  </head>

  <body>
    <% include partials/header.ejs %>
    <main role="main">
        <!--<div class="container">-->
            <% include partials/card-process.ejs %>
        <!--</div>-->
    </main>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="lib/jquery/dist/jquery.min.js"><\/script>')</script>-->
    <!--<script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/popper/dist/popper.min.js"></script>-->

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/bootstrap-waitingfor.min.js"></script>
    <script src="js/mindmup-editabletable.js"></script>
    <script src="lib/bootbox/bootbox.min.js"></script>
    <script>
            $(function() {

                //$("#complete_data").attr("disabled", "disabled");
                //$("#process-invoice-form").find('.form-control').attr("disabled", true);
                $(".service-form-row").hide();
                $("#material-tab" ).click(function() {
                    
                    var imagename = $("#imageToProcess").data().imagename;   
                    $.getJSON( "/invoices.json", function( invoices ) {
                        for(var i = 0; i < invoices.length; i++) { 
                            if(invoices[i].file === imagename) {
                                $("#buyer").val(invoices[i].buyer);
                                if(invoices[i].buyer !== "") {
                                    $("#buyer").addClass('is-valid');
                                    $("#buyer").removeClass('is-invalid');
                                } else {
                                    $("#buyer").addClass('is-invalid');
                                    $("#buyer").removeClass('is-valid');
                                }
                                
                                $("#supplier").val(invoices[i].supplier);
                                if(invoices[i].supplier !== "") {
                                    $("#supplier").addClass('is-valid');
                                    $("#supplier").removeClass('is-invalid');
                                } else {
                                    $("#supplier").addClass('is-invalid');
                                    $("#buyer").removeClass('is-valid');
                                }
    
                                $("#debitCredit").val(invoices[i].debit_credit);
                                $("#debitCredit").addClass('is-valid');
                                $("#invoiceNumber").val(invoices[i].invoice_number);
                                if(invoices[i].invoice_number !== "") {
                                    $("#invoiceNumber").addClass('is-valid');
                                    $("#invoiceNumber").removeClass('is-invalid');
                                } else {
                                    $("#invoiceNumber").addClass('is-invalid');
                                    $("#invoiceNumber").removeClass('is-valid');
                                }
                                $("#invoiceDate").val(invoices[i].invoice_date);
                                if(invoices[i].invoice_date !== "") {
                                    $("#invoiceDate").addClass('is-valid');
                                    $("#invoiceDate").removeClass('is-invalid');
                                } else {
                                    $("#invoiceDate").addClass('is-invalid');
                                    $("#invoiceDate").removeClass('is-valid');
                                }
                                $("#netValue").val(invoices[i].net_value);
                                if(invoices[i].net_value !== "") {
                                    $("#netValue").addClass('is-valid');
                                    $("#netValue").removeClass('is-invalid');
                                } else {
                                    $("#netValue").addClass('is-invalid');
                                    $("#netValue").removeClass('is-valid');
                                }
                                $("#gstValue").val(invoices[i].gst_value);
                                if(invoices[i].gst_value !== "") {
                                    $("#gstValue").addClass('is-valid');
                                    $("#gstValue").removeClass('is-invalid');
                                } else {
                                    $("#gstValue").addClass('is-invalid');
                                    $("#gstValue").removeClass('is-valid');
                                }
                                $("#grossValue").val(invoices[i].gross_value);
                                if(invoices[i].gross_value !== "") {
                                    $("#grossValue").addClass('is-valid');
                                    $("#grossValue").removeClass('is-invalid');
                                } else {
                                    $("#grossValue").addClass('is-invalid');
                                    $("#grossValue").removeClass('is-valid');
                                }
                                $("#currency").val(invoices[i].currency);
                                $("#currency").addClass('is-valid');
    
                                $("#poOrderNumber").val(invoices[i].po_order_number);
                                $("#deliveryNote").val(invoices[i].delivery_note);
                            }
                        }
                    });
                    
                    
                    $(".material-form-row").show();
                    $(".service-form-row").hide();




                });

                $("#service-tab" ).click(function() {
                    var imagename = $("#imageToProcess").data().imagename;   
                    $.getJSON( "/invoices.json", function( invoices ) {
                        for(var i = 0; i < invoices.length; i++) { 
                            if(invoices[i].file === imagename) {
                                $("#buyerService").val(invoices[i].buyer_service);
                                if(invoices[i].buyer_service !== "") {
                                    $("#buyerService").addClass('is-valid');
                                    $("#buyerService").removeClass('is-invalid');
                                } else {
                                    $("#buyerService").addClass('is-invalid');
                                    $("#buyerService").removeClass('is-valid');
                                }
                                
                                $("#supplierService").val(invoices[i].supplier_service);
                                if(invoices[i].supplier_service !== "") {
                                    $("#supplierService").addClass('is-valid');
                                    $("#supplierService").removeClass('is-invalid');
                                } else {
                                    $("#supplierService").addClass('is-invalid');
                                    $("#buyerService").removeClass('is-valid');
                                }

                                $("#debitCreditService").val(invoices[i].debit_credit_service);
                                $("#debitCreditService").addClass('is-valid');
                                $("#invoiceNumberService").val(invoices[i].invoice_number_service);
                                if(invoices[i].invoice_number_service !== "") {
                                    $("#invoiceNumberService").addClass('is-valid');
                                    $("#invoiceNumberService").removeClass('is-invalid');
                                } else {
                                    $("#invoiceNumberService").addClass('is-invalid');
                                    $("#invoiceNumberService").removeClass('is-valid');
                                }
                                $("#invoiceDateService").val(invoices[i].invoice_date_service);
                                if(invoices[i].invoice_date_service !== "") {
                                    $("#invoiceDateService").addClass('is-valid');
                                    $("#invoiceDateService").removeClass('is-invalid');
                                } else {
                                    $("#invoiceDateService").addClass('is-invalid');
                                    $("#invoiceDateService").removeClass('is-valid');
                                }
                                $("#netValueService").val(invoices[i].net_value_service);
                                if(invoices[i].net_value_service !== "") {
                                    $("#netValueService").addClass('is-valid');
                                    $("#netValueService").removeClass('is-invalid');
                                } else {
                                    $("#netValueService").addClass('is-invalid');
                                    $("#netValueService").removeClass('is-valid');
                                }
                                $("#gstValueService").val(invoices[i].gst_value_service);
                                if(invoices[i].gst_value_service !== "") {
                                    $("#gstValueService").addClass('is-valid');
                                    $("#gstValueService").removeClass('is-invalid');
                                } else {
                                    $("#gstValueService").addClass('is-invalid');
                                    $("#gstValueService").removeClass('is-valid');
                                }
                                $("#grossValueService").val(invoices[i].gross_value_service);
                                if(invoices[i].gross_value_service !== "") {
                                    $("#grossValueService").addClass('is-valid');
                                    $("#grossValueService").removeClass('is-invalid');
                                } else {
                                    $("#grossValueService").addClass('is-invalid');
                                    $("#grossValueService").removeClass('is-valid');
                                }
                                $("#currencyService").val(invoices[i].currency_service);
                                $("#currencyService").addClass('is-valid');

                                $("#poOrderNumberService").val(invoices[i].po_order_number_service);
                                $("#deliveryNoteService").val(invoices[i].delivery_note_service);
                            }
                        }
                    });


                    $(".material-form-row").hide();
                    $(".service-form-row").show();
                });


            function runOCR(url) {
                Tesseract.recognize(url)
                    .then(function(result) {
                        document.getElementById("ocr_results")
                                .value = result.text;
                    }).progress(function(result) {
                        document.getElementById("ocr_status")
                                .innerText = result["status"] + " (" +
                                    (result["progress"] * 100) + "%)";
                    });
            }

            function getBase64Image(img) {
                var canvas = document.createElement("canvas");
                canvas.width = img.width;
                canvas.height = img.height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);
                var dataURL = canvas.toDataURL("image/png");
                return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
            }

            $("#go_button").click(function(e) {
                //var url = $(this).data().imagesrc;
                //runOCR(url);
                //var imageid = $(this).data().imageid;
                //var base64 = getBase64Image(document.getElementById("imageToProcess"));
                /*$.ajax({
                    url: "https://api.ocr.space/parse/image",
                    data: {
                        apikey: "aa7aa7676d88957",
                        language: "eng",
                        isOverlayRequired: "false",
                        base64Image: "data:image/jpeg;base64," + base64
                    },
                    success: function(result){
                        var parsedText = result.ParsedResults[0].ParsedText;
                        document.getElementById("ocr_results")
                                .value = parsedText;
                    }
                });*/

                /*$.post("https://api.ocr.space/parse/image",
                {
                    apikey: "aa7aa7676d88957",
                    language: "eng",
                    isOverlayRequired: "true",
                    base64Image: "data:image/jpeg;base64," + base64
                },
                function(data, status){
                    var parsedText = data.ParsedResults[0].ParsedText;
                    document.getElementById("ocr_results")
                            .value = parsedText;
                });*/


                var imagename = $("#imageToProcess").data().imagename;  
                var invoiceType = $("#imageToProcess").data().invoicetype; 
                var imagePath = $("#imageToProcess").attr('src');
                
                
                if(imagename == "Multiple Line Item Invoice.pdf" || imagename == "services invoices.pdf") {
                    waitingDialog.show('Reading text from invoice...');
                    setTimeout(function () {
                    waitingDialog.hide();
                    }, 600);
                } else {
                    waitingDialog.show('Reading text from invoice...');
                }
                

                $.post("api/fetch-invoice-data",
                {
                    image_path: imagePath,
                    image_name: imagename,
                    invoiceType: invoiceType
                },
                function(data, status){
                    if(data.invoice) {
                        



                        







                        $("#materialHeaders").html(data.invoice.material_headers);
                        $("#materialRows").html(data.invoice.material_rows);
                        $("#serviceHeaders").html(data.invoice.service_headers);
                        $("#serviceRows").html(data.invoice.service_rows);
                        $("#material-tab").text("Materials(" + data.invoice.material_rows_count + ")");
                        $("#service-tab").text("Services(" + data.invoice.service_rows_count + ")");
                        if(data.invoice.material_rows_count > 0 || data.invoice.service_rows_count > 0) {
                            $("#lineItemsToggle").attr("disabled", false);
                            $('#material-tbl').editableTableWidget();
                            $('#service-tbl').editableTableWidget();
                        }

                        if(data.invoice.material_rows_count > 0) {
                            

                            $("#buyer").val(data.invoice.buyer);
                            if(data.invoice.buyer !== "") {
                                $("#buyer").addClass('is-valid');
                                $("#buyer").removeClass('is-invalid');
                            } else {
                                $("#buyer").addClass('is-invalid');
                                $("#buyer").removeClass('is-valid');
                            }
                            
                            $("#supplier").val(data.invoice.supplier);
                            if(data.invoice.supplier !== "") {
                                $("#supplier").addClass('is-valid');
                                $("#supplier").removeClass('is-invalid');
                            } else {
                                $("#supplier").addClass('is-invalid');
                                $("#buyer").removeClass('is-valid');
                            }

                            $("#debitCredit").val(data.invoice.debit_credit);
                            $("#debitCredit").addClass('is-valid');
                            $("#invoiceNumber").val(data.invoice.invoice_number);
                            if(data.invoice.invoice_number !== "") {
                                $("#invoiceNumber").addClass('is-valid');
                                $("#invoiceNumber").removeClass('is-invalid');
                            } else {
                                $("#invoiceNumber").addClass('is-invalid');
                                $("#invoiceNumber").removeClass('is-valid');
                            }
                            $("#invoiceDate").val(data.invoice.invoice_date);
                            if(data.invoice.invoice_date !== "") {
                                $("#invoiceDate").addClass('is-valid');
                                $("#invoiceDate").removeClass('is-invalid');
                            } else {
                                $("#invoiceDate").addClass('is-invalid');
                                $("#invoiceDate").removeClass('is-valid');
                            }
                            $("#netValue").val(data.invoice.net_value);
                            if(data.invoice.net_value !== "") {
                                $("#netValue").addClass('is-valid');
                                $("#netValue").removeClass('is-invalid');
                            } else {
                                $("#netValue").addClass('is-invalid');
                                $("#netValue").removeClass('is-valid');
                            }
                            $("#gstValue").val(data.invoice.gst_value);
                            if(data.invoice.gst_value !== "") {
                                $("#gstValue").addClass('is-valid');
                                $("#gstValue").removeClass('is-invalid');
                            } else {
                                $("#gstValue").addClass('is-invalid');
                                $("#gstValue").removeClass('is-valid');
                            }
                            $("#grossValue").val(data.invoice.gross_value);
                            if(data.invoice.gross_value !== "") {
                                $("#grossValue").addClass('is-valid');
                                $("#grossValue").removeClass('is-invalid');
                            } else {
                                $("#grossValue").addClass('is-invalid');
                                $("#grossValue").removeClass('is-valid');
                            }
                            $("#currency").val(data.invoice.currency);
                            $("#currency").addClass('is-valid');

                            $("#poOrderNumber").val(data.invoice.po_order_number);
                            $("#deliveryNote").val(data.invoice.delivery_note);


                            $('#material-tab').attr("disabled", false);
                        } else if(data.invoice.service_rows_count > 0) {

                            $("#buyerService").val(data.invoice.buyer_service);
                            if(data.invoice.buyer_service !== "") {
                                $("#buyerService").addClass('is-valid');
                                $("#buyerService").removeClass('is-invalid');
                            } else {
                                $("#buyerService").addClass('is-invalid');
                                $("#buyerService").removeClass('is-valid');
                            }
                            
                            $("#supplierService").val(data.invoice.supplier_service);
                            if(data.invoice.supplier_service !== "") {
                                $("#supplierService").addClass('is-valid');
                                $("#supplierService").removeClass('is-invalid');
                            } else {
                                $("#supplierService").addClass('is-invalid');
                                $("#buyerService").removeClass('is-valid');
                            }

                            $("#debitCreditService").val(data.invoice.debit_credit_service);
                            $("#debitCreditService").addClass('is-valid');
                            $("#invoiceNumberService").val(data.invoice.invoice_number_service);
                            if(data.invoice.invoice_number_service !== "") {
                                $("#invoiceNumberService").addClass('is-valid');
                                $("#invoiceNumberService").removeClass('is-invalid');
                            } else {
                                $("#invoiceNumberService").addClass('is-invalid');
                                $("#invoiceNumberService").removeClass('is-valid');
                            }
                            $("#invoiceDateService").val(data.invoice.invoice_date_service);
                            if(data.invoice.invoice_date_service !== "") {
                                $("#invoiceDateService").addClass('is-valid');
                                $("#invoiceDateService").removeClass('is-invalid');
                            } else {
                                $("#invoiceDateService").addClass('is-invalid');
                                $("#invoiceDateService").removeClass('is-valid');
                            }
                            $("#netValueService").val(data.invoice.net_value_service);
                            if(data.invoice.net_value_service !== "") {
                                $("#netValueService").addClass('is-valid');
                                $("#netValueService").removeClass('is-invalid');
                            } else {
                                $("#netValueService").addClass('is-invalid');
                                $("#netValueService").removeClass('is-valid');
                            }
                            $("#gstValueService").val(data.invoice.gst_value_service);
                            if(data.invoice.gst_value_service !== "") {
                                $("#gstValueService").addClass('is-valid');
                                $("#gstValueService").removeClass('is-invalid');
                            } else {
                                $("#gstValueService").addClass('is-invalid');
                                $("#gstValueService").removeClass('is-valid');
                            }
                            $("#grossValueService").val(data.invoice.gross_value_service);
                            if(data.invoice.gross_value_service !== "") {
                                $("#grossValueService").addClass('is-valid');
                                $("#grossValueService").removeClass('is-invalid');
                            } else {
                                $("#grossValueService").addClass('is-invalid');
                                $("#grossValueService").removeClass('is-valid');
                            }
                            $("#currencyService").val(data.invoice.currency_service);
                            $("#currencyService").addClass('is-valid');

                            $("#poOrderNumberService").val(data.invoice.po_order_number_service);
                            $("#deliveryNoteService").val(data.invoice.delivery_note_service);




                            $('#service-tab').attr("disabled", false);
                        }

                        
                            $.getJSON( "/invoices.json", function( invoices ) {
                                for(var i = 0; i < invoices.length; i++) { 
                                    if(invoices[i].file === imagename) {

                                        if(imagename == 'Single Line Item Invoice.jpg'){
                                            $("#grossValue").val(invoices[i].gross_value);
                                            if(invoices[i].gross_value !== "") {
                                                $("#grossValue").addClass('is-valid');
                                                $("#grossValue").removeClass('is-invalid');
                                            } else {
                                                $("#grossValue").addClass('is-invalid');
                                                $("#grossValue").removeClass('is-valid');
                                            }
                                        }
                                    }
                                }
                            });
                        

                        //$("#complete_data").removeAttr("disabled");
                        
                    } 
                    
                    
                    if(data.response == "success") {
                        waitingDialog.hide();
                    } else {
                        var invoiceItem = {
                            id:"",
                            file: "",
                            buyer: $("#buyer").val(),
                            supplier: $("#supplier").val(),
                            debit_credit: $("#debitCredit").val(),
                            invoice_number: $("#invoiceNumber").val(),
                            invoice_date: $("#invoiceDate").val(),
                            net_value: $("#netValue").val(),
                            gst_value: $("#gstValue").val(),
                            gross_value: $("#grossValue").val(),
                            currency: $("#currency").val(),
                            po_order_number: $("#poOrderNumber").val(),
                            delivery_note: $("#deliveryNote").val(),
                            finance_material: "",
                            sap_po_number: "",
                            vendor_code: "",
                            discount: "",


                            buyer_service: $("#buyerService").val(),
                            supplier_service: $("#supplierService").val(),
                            debit_credit_service: $("#debitCreditService").val(),
                            invoice_number_service: $("#invoiceNumberService").val(),
                            invoice_date_service: $("#invoiceDateService").val(),
                            net_value_service: $("#netValueService").val(),
                            gst_value_service: $("#gstValueService").val(),
                            gross_value_service: $("#grossValueService").val(),
                            currency_service: $("#currencyService").val(),
                            po_order_number_service: $("#poOrderNumberService").val(),
                            delivery_note_service: $("#deliveryNoteService").val(),
                            finance_material_service: "",
                            sap_po_number_service: "",
                            vendor_code_service: "",
                            discount_service: "",
                            
                            is_error: true,
                            material_headers: "",
                            material_rows: "",
                            material_rows_count: "",
                            service_headers: "",
                            service_rows: "",
                            service_rows_count: ""
                        }
                        
                        $.getJSON( "/invoices.json", function( invoices ) {
                            for(var i = 0; i < invoices.length; i++) { 
                                if(invoices[i].file === imagename) {
                                    invoiceItem.id = invoices[i].id;
                                    invoiceItem.unique_number = invoices[i].unique_number;
                                    invoiceItem.file = invoices[i].file;
                                    invoiceItem.finance_material = invoices[i].finance_material;
                                    invoiceItem.sap_po_number = invoices[i].sap_po_number;
                                    invoiceItem.vendor_code = invoices[i].vendor_code;
                                    invoiceItem.discount = invoices[i].discount;

                                    invoiceItem.finance_material_service = invoices[i].finance_material_service;
                                    invoiceItem.sap_po_number_service = invoices[i].sap_po_number_service;
                                    invoiceItem.vendor_code_service = invoices[i].vendor_code_service;
                                    invoiceItem.discount_service = invoices[i].discount_service;


                                    invoiceItem.material_headers = invoices[i].material_headers;
                                    invoiceItem.material_rows = invoices[i].material_rows;
                                    invoiceItem.material_rows_count = invoices[i].material_rows_count;
                                    invoiceItem.service_headers = invoices[i].service_headers;
                                    invoiceItem.service_rows = invoices[i].service_rows;
                                    invoiceItem.service_rows_count = invoices[i].service_rows_count;
                                    $.post("api/process-data",
                                    {
                                        image_name: imagename,
                                        isError: true,
                                        invoiceType: invoiceType,
                                        invoice: JSON.stringify(invoiceItem)
                                    },
                                    function(data, status){
                                        waitingDialog.hide();
                                        //alert('Invoice not formatted properly, moved to error list');
                                        bootbox.alert({
                                            message: "Invoice contains errors and has been moved error folder",
                                            callback: function () {
                                                window.location = '/dashboard';
                                            }
                                        });
                                        //window.location = '/dashboard';
                                    });
                                }
                            }
                        });



                        
                    }
                    
                    //window.location = '/card-list-unprocessed';
                });
                /*$.getJSON( "/invoices.json", function( invoices ) {
                    for(var i = 0; i < invoices.length; i++) { 
                        if(invoices[i].file === imagename && invoices[i].is_error) {
                            var invoiceType = $("#imageToProcess").data().invoicetype;
                            $.post("api/process-data",
                            {
                                image_name: imagename,
                                isError: invoices[i].is_error,
                                invoiceType: invoiceType
                            },
                            function(data, status){
                                alert('Invoice not formatted properly, moved to error list');
                                window.location = '/card-list-unprocessed';
                            });
                        } else if(invoices[i].file === imagename && !invoices[i].is_error) {
                            $("#buyer").val(invoices[i].buyer);
                            $("#supplier").val(invoices[i].supplier);
                            $("#debitCredit").val(invoices[i].debit_credit);
                            $("#invoiceNumber").val(invoices[i].invoice_number);
                            $("#invoiceDate").val(invoices[i].invoice_date);
                            $("#netValue").val(invoices[i].net_value);
                            $("#gstValue").val(invoices[i].gst_value);
                            $("#grossValue").val(invoices[i].gross_value);
                            $("#currency").val(invoices[i].currency);
                            $("#poOrderNumber").val(invoices[i].po_order_number);
                            $("#deliveryNote").val(invoices[i].delivery_note);
                            $("#complete_data").removeAttr("disabled");
                        }
                    }
                });*/
            });

            function validateInvoiceForm() {
                var isValid = true;
                if($("#buyer").val() == "") {
                    $("#buyer").addClass('is-invalid');
                    isValid = false;
                } else {
                    $("#buyer").removeClass('is-invalid');
                }

                if($("#supplier").val() == "") {
                    $("#supplier").addClass('is-invalid');
                    isValid = false;                    
                } else {
                    $("#supplier").removeClass('is-invalid');
                }

                if($("#invoiceNumber").val() == "") {
                    $("#invoiceNumber").addClass('is-invalid');
                    isValid = false;                    
                } else {
                    $("#invoiceNumber").removeClass('is-invalid');
                }

                if($("#invoiceDate").val() == "") {
                    $("#invoiceDate").addClass('is-invalid');
                    isValid = false;
                } else {
                    $("#invoiceDate").removeClass('is-invalid');
                }

                if($("#netValue").val() == "") {
                    $("#netValue").addClass('is-invalid');
                    isValid = false;
                } else {
                    $("#netValue").removeClass('is-invalid');
                }

                if($("#gstValue").val() == "") {
                    $("#gstValue").addClass('is-invalid');
                    isValid = false;                    
                } else {
                    $("#gstValue").removeClass('is-invalid');
                }

                if($("#grossValue").val() == "") {
                    $("#grossValue").addClass('is-invalid');
                    isValid = false;
                } else {
                    $("#grossValue").removeClass('is-invalid');
                }
                return isValid;
            }

            document.getElementById("complete_data")
            .addEventListener("click", function(e) {
                if(validateInvoiceForm()) {

                    



                    var imagename = $("#imageToProcess").data().imagename;   
                    $.getJSON( "/invoices.json", function( invoices ) {
                        for(var i = 0; i < invoices.length; i++) { 
                            if(invoices[i].file === imagename) {

                                /*if(invoices[i].material_rows_count > 0) {
                                    var netValue = $("#netValue").val();
                                    if(!netValue.match(/^-?\d*(\.\d+)?$/)) {
                                        bootbox.alert("Please enter valid Net Value");
                                        return;
                                    }

                                    var gstValue = $("#gstValue").val();
                                    if(!gstValue.match(/^-?\d*(\.\d+)?$/)) {
                                        bootbox.alert("Please enter valid GST Value");
                                        return;
                                    }

                                    var grossValue = $("#grossValue").val();
                                    if(!grossValue.match(/^-?\d*(\.\d+)?$/)) {
                                        bootbox.alert("Please enter valid Gross Value");
                                        return;
                                    }

                                    if(!((parseFloat(netValue) + parseFloat(gstValue)) == parseFloat(grossValue))) {
                                        bootbox.alert("The addition of Net Value and GST Value should be equal to Gross Value");
                                        return;
                                    }
                                }
                                
                                if(invoices[i].service_rows_count > 0) {

                                }*/



                                if(invoices[i].po_order_number !== invoices[i].sap_po_number){
                                    $("#poOrderNumber").addClass('is-invalid');
                                    $("#poOrderNumber").removeClass('is-valid');
                                }
                                


                                if(invoices[i].po_order_number_service !== invoices[i].sap_po_number_service){
                                    $("#poOrderNumberService").addClass('is-invalid');
                                    $("#poOrderNumberService").removeClass('is-valid');
                                }

                                $("#initiateWorkflowModal").modal('show');
                                $("#financeMaterial").val(invoices[i].finance_material);
                                $("#sapPoNumber").val(invoices[i].sap_po_number);
                                $("#vendorCode").val(invoices[i].vendor_code);
                                $("#discount").val(invoices[i].discount);


                                $("#financeMaterialService").val(invoices[i].finance_material_service);
                                $("#sapPoNumberService").val(invoices[i].sap_po_number_service);
                                $("#vendorCodeService").val(invoices[i].vendor_code_service);
                                $("#discountService").val(invoices[i].discount_service);
                            }
                        }
                    });
                }
            });

            document.getElementById("edit_button")
            .addEventListener("click", function(e) {
                $("#process-invoice-form").find('.form-control').attr("disabled", false);
                $(this).hide();
                $("#save_button").show();
            });

            document.getElementById("save_button")
            .addEventListener("click", function(e) {
                $("#process-invoice-form").find('.form-control').attr("disabled", true);
                $(this).hide();
                $("#edit_button").show();
            });

            /*document.getElementById("complete_data")
            .addEventListener("click", function(e) {
                var imagename = $("#imageToProcess").data().imagename;   
                $.getJSON( "/invoices.json", function( invoices ) {
                    for(var i = 0; i < invoices.length; i++) { 
                        if(invoices[i].file === imagename) {
                            $("#initiateWorkflowModal").modal('show');
                            $("#financeMaterial").val(invoices[i].finance_material);
                            $("#sapPoNumber").val(invoices[i].sap_po_number);
                            $("#vendorCode").val(invoices[i].vendor_code);
                            $("#discount").val(invoices[i].discount);
                        }
                    }
                });
                
            });*/

            /*document.getElementById("go_button")
            .addEventListener("click", function(e) {
                //var url = document.getElementById("url").value;
                console.log(e);
                var url ="http://localhost:3000/unprocessed/invoice-copy-copies-of-invoices.png";
                runOCR(url);
            });*/
    
            /*document.getElementById("format_button")
            .addEventListener("click", function(e) {
                var isError = $(this).data().iserror;
                var invoiceType = $(this).data().invoicetype;
                if(isError) {
                    var imagename = $("#go_button").data().imagename;
                    $.post("api/process-data",
                    {
                        image_name: imagename,
                        isError: isError,
                        invoiceType: invoiceType
                    },
                    function(data, status){
                        //alert("Status: " + status);
                        alert('Invoice not formatted properly, moved to error list');
                        window.location = '/card-list-unprocessed';
                    });
                } else {
                    document.getElementById("process-container").style.display = "none";
                    document.getElementById("formatted_invoice").style.display = "block";
                }
            });

            document.getElementById("process_button")
            .addEventListener("click", function(e) {
                var imagename = $("#go_button").data().imagename;
                var isError = $("#format_button").data().iserror;
                var invoiceType = $("#format_button").data().invoicetype;
                $.post("api/process-data",
                {
                    image_name: imagename,
                    isError: isError,
                    invoiceType: invoiceType
                },
                function(data, status){
                    window.location = '/card-list-unprocessed';
                });
            });*/
        });
        </script>
  </body>
</html>